<!DOCTYPE html>
<html>
<head>
  <title>CoderChat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Preloader -->

  <div id="preloader">
      <div class="loader">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </div>
  </div>

  <%= yield %>

</body>
</html>
